@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  
}
.slick-dots {
  bottom: -35px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
}

.slick-dots li.slick-active button:before {
  color: #f53347;
  opacity: 1;
}
::selection{
  background-color: rgb(144, 23, 23);
  color:rgb(223, 216, 216);
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ef0303; 
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0); 
}
/* Remove dots below slick carousel completely
.slick-dots {
  display: none !important;
} */
.progress-dot{
  width:6px;
  height:6px;
  background:#e5e7ebb6;
  border-radius:999px;
  overflow:hidden;
  position:relative;
}

.progress-dot::after{
  content:"";
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:0%;
  background:red;
  border-radius:999px;
}

.slick-dots li.slick-active .progress-dot::after{
  animation:sliderProgress 4.5s linear forwards;
}

@keyframes sliderProgress{
  from{
    width:0%;
  }
  to{
    width:100%;
  }
}
:root {
  --clerk-color-background: #212126;
  --clerk-color-neutral: white;
  --clerk-color-primary: #FFFFFF;
  --clerk-color-primary-foreground: black;
  --clerk-color-foreground: white;
  --clerk-color-input-foreground: white;
  --clerk-color-input: #26262B;
}

/* .dark {
  --clerk-color-background: #211919;
  --clerk-color-neutral: #D1CBCB;
  --clerk-color-primary: #EDE6E6;
  --clerk-color-primary-foreground: black;
  --clerk-color-foreground: #E0C8C8;
  --clerk-color-input-foreground: #5C5050;
  --clerk-color-input: #292727;
  --clerk-color-muted: #301010;
  --clerk-color-muted-foreground: #FFF7F7;
  --clerk-color-ring: #FFFFFF;
  --clerk-color-border: #FCFCFC;
  --clerk-color-shadow: #E3C1C1;
  --clerk-color-modal-backdrop: #FCB3B3;
  --clerk-color-danger: #AB8585;
} */