@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  
}
::selection{
  background-color: rgb(5, 5, 5);
  color:rgb(223, 215, 215);
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #010101;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #E9E1DA; 
  border-radius: 10px;
  border: 2px solid rgb(246, 246, 246); 
}
/* Remove dots below slick carousel completely */
.slick-dots {
  display: none !important;
}
