@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  
}
::selection{
  background-color: rgb(5, 5, 5);
  color:rgb(141, 10, 10);
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ef0303; 
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0); 
}
/* Remove dots below slick carousel completely */
.slick-dots {
  display: none !important;
}
